name: Deploy

on:
  push:
    branches: main
    paths:
      - .github/workflows/main.yml
      - tsconfig.json
      - wrangler.toml
      - package.json
      - bun.lockb
      - '**.ts'

jobs:
  test:
    uses: winstxnhdw/actions/.github/workflows/bun.yml@main
    with:
      disable-test: true
      disable-build: true

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Publish
        uses: cloudflare/wrangler-action@v3.3.2
        env:
          WORKER_ENDPOINT: ${{ secrets.WORKER_ENDPOINT }}
        with:
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          apiToken: ${{ secrets.CF_API_TOKEN }}
          command: publish
