name: Deploy

on:
  push:
    branches: [main]
    paths:
      - src/**
      - .github/workflows/main.yml
      - package.json
      - tsconfig.json
      - wrangler.toml

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn testci

      - name: Publish
        uses: cloudflare/wrangler-action@2.0.0
        env:
          WORKER_ENDPOINT: ${{ secrets.WORKER_ENDPOINT }}
        with:
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          apiToken: ${{ secrets.CF_API_TOKEN }}
          command: publish
